name: Scoop Installer CI Tests

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test_powershell:
    name: WindowsPowerShell
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
      - name: Init Test Suite
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 # v6.2.1
        with:
          modules-to-cache: PSScriptAnalyzer, BuildHelpers, Pester
          shell: powershell
      - name: Test Scoop Installer
        shell: powershell
        run: ./test/bin/test.ps1
      - name: Test Scoop Install command
        shell: powershell
        run: |
          ./install.ps1 -RunAsAdmin
          echo "$Env:USERPROFILE\scoop\shims" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Test scoop command availability
        shell: powershell
        run: scoop help
  test_pwsh_cloning:
    name: PowerShell (with cloning)
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
      - name: Init Test Suite
        uses: potatoqualitee/psmodulecache@ee5e9494714abf56f6efbfa51527b2aec5c761b8 # v6.2.1
        with:
          modules-to-cache: PSScriptAnalyzer, BuildHelpers, Pester
          shell: pwsh
      - name: Test Scoop Installer
        shell: pwsh
        run: ./test/bin/test.ps1
      - name: Test Scoop Install command
        shell: pwsh
        run: |
          ./install.ps1 -RunAsAdmin
          echo "~\scoop\shims" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Test scoop command availability
        shell: pwsh
        run: scoop help
  test_pwsh_download:
    name: PowerShell (with downloading)
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 2
      - name: Test Scoop Install command
        shell: pwsh
        run: |
          git config --global protocol.https.allow never
          ./install.ps1 -RunAsAdmin
          echo "~\scoop\shims" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      - name: Test scoop command availability
        shell: pwsh
        run: scoop help
